# ignore model and data files
*.pth
*.csv
*.npy
*.pkl
cache/*
*.out
track_*
output/tensorboard_*/*

# ignore unpreprocessed data
raw_data/Weinstock2016_allfiles/*
raw_data/Colas2019/*

# ignore pre-complied code
*.cpython-37.pyc
__pycache__/
*.py[cod]
*.pyc

# ignore old notebooks
exploratory_analysis/old_notebooks/*

# ignore cache of quattro for design doc
design_document_files/

# ignore workspace 
*.code-workspace