# ignore model and data files
*.pth
*.npy
*.pkl
cache/*
*.out
track_*
output/tensorboard_*/*

# ignore csv files in the raw data folder
raw_data/*.csv

# ignore pre-complied code
*.cpython-37.pyc
__pycache__/
*.py[cod]
*.pyc

# ignore old notebooks and code
legacy

# ignore workspace 
*.code-workspace
