# ignore model and data files
*.pth
*.npy
*.pkl
cache/*
*.csv
*.out

# ignore pre-complied code
*.cpython-37.pyc
__pycache__/
*.py[cod]
*.pyc

# ignore old notebooks
exploratory_analysis/old_notebooks/*

# ignore cache of quattro for design doc
design_document_files/

# ignore workspace 
*.code-workspace